mat-card{

  width: 50%;
  margin: 5rem auto;

  form{
    display: flex;
    flex-direction: column;

    button{
      width: 50%;
      margin: 3rem auto 0;
    }
  }

  mat-radio-button{
    margin: 2rem 0;

    &:last-of-type{
      margin-left: 1.5rem;
    }
  }
}
